<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div>
    <!-- <%= holiday['name'] %> <br/> -->
    <%= holiday['namePretty'] %> <br/>
    <%= holiday['dateStart'] %> <br/>
    <%= holiday['numDays']['diaspora'] %> <br/>
    <%= holiday['numDays']['israel'] %> <br />
    <%= holiday['description'] %> <br />
    <%= holiday['keyElements'] %> <br />
</div>


<%- include('../partials/foot') %>